:host {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif;

  --gray-50: #f66; /* #fafafa; */
  --gray-100: #fa0; /* #f3f3f4; */
  --gray-200: #ff0; /* #d4d4d7; */
}
