details {
  transition: height 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);

  --collapsed: initial; /* prevents vars from being inherited in nested accordions */
  --expanded: initial;

  > summary {
    cursor: pointer;
    padding: 0.5rem 3rem 0.5rem 3.75rem;
    background-color: var(--gray-50, #fafafa);
    position: relative;
    line-height: 2rem;
    font-size: 1.125rem;
    font-weight: bold;
    border: 1px solid var(--gray-200, #d4d4d7);
    border-radius: 4px;

    > div[aria-hidden]:last-child {
      position: absolute;
      top: 0.5rem;
      left: 1rem;
      transition: transform 200ms;

      &::before {
        content: ">";
        font-size: 1.6rem;
      }
    }

    &::marker {
      content: ""; /* non-Safari */
    }

    &::-webkit-details-marker {
      display: none; /* required for Safari */
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 2.75rem;
      border-right: 1px solid var(--gray-200, #d4d4d7);
      border-radius: 3px 0 0 3px;
      content: "";
    }
  }

  > :not(summary) {
    padding: 1rem;
    border-radius: 0 0 4px 4px;
    border: 1px solid var(--gray-200, #d4d4d7);
    border-top: none;
  }

  &:not([open]) {
    height: var(--collapsed);
  }

  &[open] {
    height: var(--expanded);
    overflow: hidden;

    > summary {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      > div[aria-hidden]:last-child {
        transform: rotate(90deg);
      }

      &::before {
        border-bottom-left-radius: 0;
        background-color: var(--gray-100, #f3f3f4);
      }
    }
  }
}
