:host > nav {
  background-color: var(--gov-header);
  padding-bottom: 0.03rem;

  > ul {
    display: flex;
    list-style: none;

    > li {
      > a {
        color: var(--text-white);
        text-decoration: none;
        font-size: 0.9rem;
        margin-right: 2.5rem;

        &[aria-current="page"] {
          pointer-events: none;
          text-decoration: solid underline var(--action-primary) 0.3rem;
        }

        &:hover {
          background-color: var(--brand-hover-dark);
        }
      }
    }
  }
}
