body {
  background-color: #ddf;
}

ca-eureka > ca-nav > * {
  background-color: #484;
  padding: 1em;
  margin: 0;
}

ca-eureka > ca-body > * {
  background-color: #f84;
  padding: 1em;
  margin: 0;
}

ca-eureka > ca-footer > * {
  background-color: #88f;
  padding: 1em;
  margin: 0;
}
