body {
  background-color: #ddf;
}

ca-eureka {
  background-color: #fdd;
  padding: 5em;
}

ca-eureka > ca-header {
  background-color: #484;
  padding: 2em;
}

ca-eureka > ca-head {
  display: none;
}

ca-eureka > ca-body {
  background-color: #884;
  padding: 1em;
}
