body {
  background-color: #ddf;
}

ca-eureka > ca-header > p {
  background-color: #484;
  padding: 1em;
  margin: 0;
}

ca-eureka > ca-body > p {
  background-color: #f84;
  padding: 1em;
  margin: 0;
}

ca-eureka > ca-footer > p {
  background-color: #88f;
  padding: 1em;
  margin: 0;
}
