<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="Author" content="Carter Medlin" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <script type="module" src="/js/eureka.core.min.js"></script>
    <style>
      *:not(:defined) {
        display:none; /* Prevents Flicker for Eureka components before they are defined */
      }
      body {
        background-color: #ddf;
      }
    </style>
  </head>
  <body style="margin:0">
    <cal-ds-header
      data-logo-overflow="true"
      data-apps-link-style="link"
      data-apps-link-url="https://www.ca.gov"
      data-apps-link-tooltip="Link to www.ca.gov website">
      <template>
        <!-- Site Branding -->
        <a href="/">
          <!-- Branding logo -->
          <img
            src="https://cdn.cdt.ca.gov/cdt/CAWeb/site-logo-circle.svg"
            alt="Eureka Design System logo" />
          <!-- Branding text -->
          <span>California</span>
          <span>Department Website</span>
        </a>

        <!-- Nav links -->
        <nav>
          <a href="/home/">Home</a>
          <a>Level 2 Menu</a>
          <a href="/level2/option1" data-level="2">Level 2 Option 1</a>
          <a href="/level2/option2" data-level="2">Level 2 Option 2</a>
          <a href="/about/">About</a>
        </nav>

        <!-- Search Form -->
        <form action="/serp.html">
          <input placeholder="Search" />
        </form>

        <!-- Additional header links -->
        <a href="#" class="login-button">Login</a>
      </template>
    </cal-ds-header>
    <p style="background-color: blue; color:white; margin: 0">TOP</p>
    <cal-ds-nav>
      <template>
        <a href="/">Home</a>
        <a href="/accordion/">Accordion</a>
        <a href="/cards/">Cards</a>
        <a href="/editor/">Editor</a>
        <a href="/banner/">Banner</a>
      </template>
    </cal-ds-nav>

    <h1>{{ title }}</h1>
    <p>{{ description }}</p>

    <cal-ds-seo
      data-title="{{ title }}"
      data-description="{{ description }}"
      data-canonical-params="id,q"></cal-ds-seo>
    {% block content -%} {{ content | safe }} {%- endblock -%}
  </body>
</html>
