<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="Author" content="Carter Medlin" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <script type="module" src="/js/eureka.core.min.js"></script>
    <style>
      *:not(:defined) {
        display:none; /* Prevents Flicker for Eureka components before they are defined */
      }
      body {
        background-color: #ddf;
      }
    </style>
  </head>
  <body style="margin:0">
    <p style="background-color: blue; color:white; margin: 0">TOP</p>
    <cal-ds-nav>
      <template>
        <a href="/">Home</a>
        <a href="/accordion/">Accordion</a>
        <a href="/cards/">Cards</a>
        <a href="/editor/">Editor</a>
        <a href="/banner/">Banner</a>
      </template>
    </cal-ds-nav>

    <h1>{{ title }}</h1>
    <p>{{ description }}</p>

    <cal-ds-seo
      data-title="{{ title }}"
      data-description="{{ description }}"
      data-canonical-params="id,q"></cal-ds-seo>
    {% block content -%} {{ content | safe }} {%- endblock -%}
  </body>
</html>
