<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="Author" content="Carter Medlin" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <script type="module" src="/js/eureka.core.js"></script>
    <style>
      *:not(:defined) {
        display:none; /* Prevents Flicker for Eureka components before they are defined */
      }
      body {
        background-color: #ddf;
      }
    </style>
  </head>
  <body style="margin:0">
    <cal-ds-header
      data-logo-overflow="true"
      data-apps-link-style="link"
      data-apps-link-url="https://www.ca.gov"
      data-apps-link-tooltip="Link to www.ca.gov website">
      <template>
        <!-- Site Branding -->
        <a href="www.ca.gov">
          <img
            src="https://template.webstandards.ca.gov/images/template-logo.png"
            alt="Custom Image"
            title="Custom Image" />
          <span>California Custom</span>
          <span>Department Website Custom</span>
        </a>

        <!-- Search Form -->
        <form action="/serp.html">
          <input placeholder="My Search" />
        </form>

        <!-- Nav links -->
        <nav>
          <a href="/home/">Home</a>
          <div>
            Level 2 Menu
            <a href="/level2/option1">Level 2 Option 1</a>
            <a href="/level2/option2">Level 2 Option 2</a>
          </div>
          <a href="/about/">About</a>
        </nav>

        <!-- Additional header links -->
        <a href="javascript:alert('login clicked')" class="login-button"
          >Login</a
        >
      </template>
      <span slot="slot1">Slot 1</span>
      <span slot="slot2">Slot 2</span>
      <span slot="slot3">Slot 3</span>
      <span slot="slot4">Slot 4</span>
      <span slot="slot5">Slot 5</span>
      <span slot="slot6">Slot 6</span>
      <span slot="slot7">Slot 7</span>
      <span slot="slot8">Slot 8</span>
      <span slot="slot9">Slot 9</span>
      <span slot="slot10">Slot 10</span>
      <span slot="slot11">Slot 11</span>
      <span slot="slot12">Slot 12</span>
      <span slot="slot13">Slot 13</span>
    </cal-ds-header>

    <cal-ds-nav>
      <template>
        <a href="/">Home</a>
        <a href="/accordion/">Accordion</a>
        <a href="/cards/">Cards</a>
        <a href="/editor/">Editor</a>
        <a href="/banner/">Banner</a>
        <a href="/header/">header</a>
      </template>
    </cal-ds-nav>

    <h1>{{ title }}</h1>
    <p>{{ description }}</p>

    <cal-ds-seo
      data-title="{{ title }}"
      data-description="{{ description }}"
      data-canonical-params="id,q"></cal-ds-seo>
    {% block content -%} {{ content | safe }} {%- endblock -%}
  </body>
</html>
