<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="Author" content="Carter Medlin" />
    <meta name="title" content="{{ title }}" />
    <meta name="Description" content="{{ description }}" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <script type="module" src="/js/eureka.core.min.js"></script>
    <style>
      /* Custom Global Styles to test Web Component Scope */
      body {
        background-color: #ddf;
      }
    </style>
  </head>
  <body>
    {% block content -%} {{ content | safe }} {%- endblock -%}
  </body>
</html>
