<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}{%- if customjs -%}
    <script>
      {% include customjs -%}
    </script>
    {%- endif %}

    <style></style>
  </head>
  <body>
    {% block content -%} {{ content | safe }} {%- endblock -%}
  </body>
</html>
