<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="Author" content="Carter Medlin" />
    <meta name="title" content="{{ title }}" />
    <meta name="Description" content="{{ description }}" />
    {%- if noindex %}
    <meta name="robots" content="noindex" />
    {%- endif %}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <!-- Canonical link, improves SEO -->
    <link href="https://mysite.com{{page.url}}" rel="canonical" />
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css" />

    {%- if customjs -%}
    <script>
      {% include customjs -%}
    </script>
    {%- endif %}

    <style></style>
  </head>
  <body>
    {% block content -%} {{ content | safe }} {%- endblock -%}
  </body>
</html>
