div {
  background-color: #fdbc5b;
  border: none;
  min-height: 2rem;

  > div {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 1280px;
    font-family:
      "Noto Sans",
      system-ui,
      -apple-system,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      sans-serif;

    > p {
      margin: 0;
      font-size: 1.4rem;

      a {
        color: #0057ad;
        text-decoration: underline;

        &:hover,
        &:focus {
          color: #20367c;
          text-decoration: none;
        }

        &:focus {
          outline: 2px solid #0057ad;
        }
      }
    }

    @media (width >= 576px) {
      max-width: 576px !important;
    }

    @media (width >= 768px) {
      max-width: 768px !important;
    }

    @media (width >= 992px) {
      max-width: 992px !important;
    }

    @media (width >= 1200px) {
      max-width: 1200px !important;
    }

    @media (width >= 1280px) {
      max-width: 1280px !important;
    }
  }
}
