<div class="alert-section">
  <div class="alert-container">
    <svg
      class="alert-icon-red"
      aria-hidden="true"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 18 17.6"
      xml:space="preserve">
      <style type="text/css">
        .st0{fill:url(#SVGID_1_);}
      </style>
      <g>
        <radialGradient
          id="SVGID_1_"
          cx="7.6553"
          cy="6.5485"
          r="7.5719"
          gradientUnits="userSpaceOnUse">
          <stop offset="0.4356" style="stop-color:#FF0000" />
          <stop offset="0.8402" style="stop-color:#AB0000" />
        </radialGradient>
        <circle class="st0" cx="9" cy="8.7" r="8" />
      </g>
    </svg>
    <p></p>
  </div>
</div>
