<div>
  <div>
    <svg
      aria-hidden="true"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 18 17.6"
      style="width: 1rem; height: 1rem;">
      <g>
        <radialGradient
          id="SVGID_1_"
          cx="7.6553"
          cy="6.5485"
          r="7.5719"
          gradientUnits="userSpaceOnUse">
          <stop offset="0.4356" style="stop-color:#FF0000" />
          <stop offset="0.8402" style="stop-color:#AB0000" />
        </radialGradient>
        <circle style="fill:url(#SVGID_1_);" cx="9" cy="8.7" r="8" />
      </g>
    </svg>
    <p></p>
  </div>
</div>
