<header role="banner">
  <!-- Add class "theme-light" to use light header version -->
  <div class="site-header">
    <div class="site-header-container">
      <nav class="mobile-nav-menu" role="navigation">
        <a href="#" tabindex="0" class="main-navigation-button" role="button">
          <div class="hamburger"></div>
          <span class="visually-hidden">Main menu</span>
        </a>
        <a
          href="#"
          tabindex="-1"
          class="main-navigation-cancel"
          role="button"
          aria-label="Close menu"></a>
        <ul></ul>
      </nav>

      <a href="index.html" class="site-logo">
        <!-- add class "no-overflow" to remove image's bottom overflow-->
        <img
          src="https://cdn.cdt.ca.gov/cdt/CAWeb/site-logo-circle.svg"
          alt="Eureka Design System logo"
          class="logo-image" />

        <div class="site-branding-text">
          <span class="state">California default</span>
          <span class="department">Department Website default</span>
        </div>
      </a>
      <div class="site-header-utility">
        <div class="search-container-desktop">
          <form autocomplete="on">
            <label class="search-toggle" for="site-search"
              ><span class="visually-hidden">Search this site</span></label
            >
            <input
              id="site-search"
              type="search"
              name="q"
              class="search-input"
              placeholder="Search..."
              tabindex="0"
              required />
            <button type="submit" class="search-submit" tabindex="-1"></button>
            <button type="submit" class="search-submit"></button>
          </form>
        </div>
        <slot name="site-header-utility-slot"></slot>
        <a href="#" class="login-button"
          ><span class="login-text">Login</span></a
        >
        <a class="cagov-toggle" href="https://www.ca.gov/">
          <span class="visually-hidden">ca.gov link</span>
        </a>
      </div>
    </div>
  </div>
</header>
