<header role="banner">
  <!-- Add class "theme-light" to use light header version -->
  <div class="site-header">
    <div class="site-header-container">
      <button
        class="main-navigation-button"
        onclick="this.classList.toggle('open')">
        <div class="hamburger"></div>
        <span class="visually-hidden">Main menu</span>
      </button>
      <a href="index.html" class="site-logo">
        <!-- add class "no-overflow" to remove image's bottom overflow-->
        <img
          src="https://cdn.cdt.ca.gov/cdt/CAWeb/site-logo-circle.svg"
          alt="Eureka Design System logo"
          class="logo-image " />

        <div class="site-branding-text">
          <span class="state">California</span>
          <span class="department">Department Website</span>
        </div>
      </a>
      <div class="site-header-utility">
        <div class="search-container-desktop">
          <form>
            <input
              type="search"
              class="search-input"
              placeholder="Search..."
              tabindex="0" />
          </form>
        </div>
        <a href="#" class="login-button"
          ><span class="login-text">Login</span></a
        >
        <button class="cagov-toggle">
          <span class="visually-hidden">ca.gov links</span>
        </button>
      </div>
    </div>
  </div>
</header>
